.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.row{
  background-color: rgb(247, 247, 236);
}
.chat-container {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.chat_left{
  grid-column-start: 1;
  grid-column-start: 2;
}
.chat_right{
  grid-column-start: 2;
  grid-column-start: 3;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.input-container input {
  margin-right: 10px;
}

